$colors-violet-light: #8257e5;
$colors-violet-dark: #633bbc;
$colors-gray-800: #1e1e1e;
$colors-gray-900:#181818;
$colors-gray-dark:#0e0e10;
$colors-gray-100: #e1e1e1;
$colors-gray-hover: #838282;
$colors-gray-600: #353333de;
$colors-red-defalt: #ea0000;
$colors-green-default: #62e557;
$colors-white: #ffff;
$fontFamily-Roboto: "Roboto", sans-serif;
$fontFamily-rigtheous-cursive: "Righteous", cursive;
$fontFamily-rigtheous-sans-serif: "Roboto", sans-serif;
